body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar{
  display: inline-block;
  display: flex;
  justify-content: center;
  background-color: #D1FAE5;
  position: fixed;
  bottom: 0
}

.userPage{
  display:flex;
  justify-content: center;
}

.userPageContent{
 justify-content: center;
 display: block;
}

.userName{
  font-size: 50px;
  margin-left: 60px;
}

.navBar button{
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  height:80px;
  width: 90px;
  background-color: #D1FAE5;
  border:none;
  font-weight: 20px;
}

.balanceContainer{
  margin-left:20px;
  margin-top: 20px;
}

.balanceText{
  color: #059669;
  font-size: 60px;
}

.userImage{
  height:50px;
  width:50px;
}

.contactText{
  font-size:18px;
 
}

.contactFrame{
  display:inline-block;
  margin-left: 10px;
  width:90px;
}

.contactContainer{
  margin-left: 20px;
  
}

.pendingInvoiceContainer{
  display:inline-block;
  width: 300px;
}

.pendingInvoiceAmount{
  float:right;
  width:30px;
  margin-bottom: 20px;
}

.invoiceName{
  display:inline-block;
  font-size: 11px;
}

.invoiceAmountOwed{
  float:right;
  color:red;
  font-size: 18px;
}

.payButton{
  background-color: #059669;
  border-radius: 20px;
  color:white;
  border-width: thin;
  width:100px;
  height: 25px;
}

.requestButton{
    background-color: #059669;
    border-radius: 20px;
    color:white;
    border-width: thin;
   width:200px;
   height: 50px;
   margin-top: 50px;
  margin-left: 90px;
  
}

.amntBtnPair{
  display: block;
  width: 100px;
  float: right;
}

.center{
  display: flex;
  justify-content: center;
}

.invoicePage{
  margin-left: 20px;
}

.dateText{
  color:#059669
}